.man_container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: auto;
}

svg {
  max-height: 35dvh;
  min-height: 210px;
  min-width: 210px;
}

.counter {
  position: absolute;
  align-self: flex-end;
}